@import "../../app/styles/colors.scss";

.shopMarker {
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 1;
}

.restPoints {
  font-weight: 400;
  margin-right: 4px;
}

.wrapperNeedCoin {
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 1;
  display: flex;
  font-size: 14px;
  justify-items: center;
  align-items: center;
  padding: 4px 12px;
  color: var(--color-textWhite);
  background-color: var(--color-gray500);
  opacity: 0.8;
  border-radius: 16px;
}

.restCoin {
  width: 18px;
  height: 18px;
}
